@model IEnumerable<House.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Location location in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => location.Adress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@location.LocationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@location.LocationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@location.LocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
