@model IEnumerable<House.Models.Profession>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht Beroepen</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Profession profession in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => profession.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@profession.ProfessionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@profession.ProfessionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@profession.ProfessionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
