@model House.ViewModels.DetailsInvoiceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Factuur</h1>

<div>

        <h4>Profession</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Klantnaam
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.customer.Fullname)
            </dd>
            <dt class="col-sm-2">
                Datum Aangemaakt
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.Date)
            </dd>
            <dt class="col-sm-2">
                Te betalen voor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.EndDate)
            </dd>
            <dt class="col-sm-2">
                Overzicht reservaties
            </dt>
            <dd class="col-sm-10">
                <div class="form-group">
                    <select asp-for="Invoice.ReservationInvoices" asp-items="Model.ReservationList"></select>
                </div>
            </dd>
            <dt class="col-sm-2">
                betaald
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.Paid)
            </dd>
            <dt class="col-sm-2">
                Bedrag
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.TotalPrice)
            </dd>
        </dl>
    </div>
<div>
    <a asp-action="Own">Back to List</a>
</div>
