@model House.ViewModels.DetailsInvoiceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Factuur</h1>

<div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Klantnaam
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.customer.Fullname)
            </dd>
            <dt class="col-sm-2">
                Datum Aangemaakt
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.Date)
            </dd>
            <dt class="col-sm-2">
                Te betalen voor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.EndDate)
            </dd>
            <dt class="col-sm-2">
                betaald
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.Paid)
            </dd>
            <dt class="col-sm-2">
                Bedrag
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoice.TotalPrice)
            </dd>
            @foreach (Reservation reservation in Model.Reservations)
            {
                <dt class="col-sm-2">
                    Reservatie: 
                </dt>
                <dd class="col-sm-10">
                    @reservation.ToString()
                </dd>
            }
        </dl>
    </div>
<div>
    <a asp-action="Own">Back to List</a>
</div>
