@model IEnumerable<House.Models.Invoice>

@{
    ViewData["Title"] = "Facturen";
}

<h1>Overzicht Facturen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Datum aangemaakt
            </th>
            <th>
                Te betalen voor
            </th>
            <th>
                Al betaald
            </th>
            <th>
                Bedrag
            </th>
            <th>
                Detail
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.InvoiceID">Detail</a>
            </td>
        </tr>
        }
    </tbody>
</table>
